<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <appSettings>
    <add key="interval" value="5000"/>
    <add key="screeps_username" value=""/>
    <add key="screeps_password" value=""/>
    <add key="http" value=""/>
    <add key="api-key" value=""/>
  </appSettings>
</configuration>
